.loginPage {
    background: url('@assets/wh_background.jpeg');
    background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)), url("@assets/wh_background.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* ou background-size: contain; */
}

.loginForm {
    background-color: rgba(1, 32, 93, 0.6);
    color: white;
}

.btnLogin{
    width: 100%;
    padding: 0px 5px;
    
    
}

.btnLoginFont{
    font-weight:bold;
    font-size:11px;
    
    
}

:root {
    --primary-color: #1d4289;
  }
